/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}


body {
   display: flex;
    justify-content: space-around;
    align-items: center;
}




.progress-bar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
}

.progress-bar__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    z-index: 5;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.23);
}

.progress-bar__text {
    font-size: 120%;
}

.bar {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.bar__left {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #4cbe9c;
    animation: left 4s linear forwards;
}

.bar__left:after {
    content: '';
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.bar__right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #4cbe9c;
    visibility: hidden;
    animation: right forwards;
    animation-delay: 2s;
}

.bar__mask {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    animation: mask-off forwards;
    animation-delay: 2s;
}

.bar__shadow {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.23) inset;
    z-index: 7;
}

@keyframes left{
    100% {
        transform: rotate(360deg);
    }
}

@keyframes right{
    100% {
        visibility: visible;
    }
}

@keyframes mask-off{
    100% {
        visibility: hidden;
    }
}




































